### Java template
*.class

# Package Files #
*.war
*.ear

# Maven #
target/
log/

*.pom.properties


# Eclipse #
.settings/
.classpath
.project
.prefs
*.prefs

# Intellij #
.idea/
*.iml
*.iws

# Mac #
.DS_Store

# jrebel #
src/main/resources/rebel.xml
*.rebel.xml